* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all;
  transition-duration: 300ms;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
@import "./layouts/footer.scss";
@import "./layouts/headers.scss";
@import "./components/medium.scss";
@import "./components/news.scss";
@import "./pages/category.scss";
@import "./temporary.scss";
@import "./components/big.scss";
@import "./pages/restaurants.scss";
@import "./pages/card.scss";
@import "./pages/shops.scss";
@import "./modal/modal.scss";
@import "./pages/cart.scss";
@import "./pages/news.scss";
@import "./pages/profile.scss";
@import "./pages/login.scss";
@import "./pages/story.scss";
@import "./pages/stars.scss";
@import "./pages/notification.scss";
@import "./pages/language.scss";
@import "./pages/mark.scss";
@import "./pages/support.scss";

body {
  font-family: "Nunito", sans-serif;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 130px;
}

button,
a {
  padding: 0;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

img {
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0;
  box-shadow: 0px 4px 20px rgba(105, 129, 134, 0.1);
}

h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #434c5e;
}

.container {
  padding: 0 10px;
  position: relative;
}

.main {
  &-warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    width: 100%;
    background: rgba(143, 100, 235, 0.7);
    border-radius: 5px;
    &__text {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
    }
  }
  &-banner {
    width: 100%;
    margin: 15px 0;
    position: relative;
    height: 172px;
    background: rgba(106, 73, 112, 0.5);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__btn {
      padding: 7px 25px;
      background: #8f64eb;
      border-radius: 50px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
    }
    &__p {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 50px;
      color: #ffffff;
      text-align: center;
      z-index: 1;
    }
    &__span {
      display: block;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
    }
    &__slider {
    }
    &__clip {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      z-index: 1;
      overflow: hidden;
      background: rgba(143, 100, 235, 0.6);
      &::after {
        content: "";
        background-clip: unset;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
    }
  }
  &-popular {
    margin: 20px 0;
    &__list {
      margin-top: 10px;
      overflow-x: scroll;
      display: flex;
      align-items: center;
      gap: 10px;
      height: 110px;
    }
    &__box {
      border: 1px solid #8f64eb;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    &__circle {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #8f64eb;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }
    &__img {
      max-width: 47px;
      max-height: 47px;
    }
    &__text {
      margin-top: 5px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: #434c5e;
      text-align: center;
    }
  }
  &-status__btn {
    position: fixed;
    bottom: 90px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    background: #8f64eb;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 10;
    & svg,
    path {
      width: 20px;
      height: 20px;
      stroke: #fff;
    }
    & p {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
    }
  }
}

.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  transition: all;
  transition-duration: 500ms;
}
.swiper-pagination-bullet-active {
  width: 21px !important;
  height: 7px !important;
  background: #8f64eb !important;
  border-radius: 10px !important;
}

.global {
  &-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    padding: 4px 10px;
    background: #f6f6f7;
    border-radius: 10px;
    &__input {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: black;
      &::placeholder {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #828da3;
      }
    }
  }
  &-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f6f6f6;
    border-radius: 50px;
    width: 100%;
    padding: 5px 10px;
    position: relative;
    height: 35px;
    &__input {
      text-align: center;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2b313a;
      width: 100%;
      &::placeholder {
        text-align: center;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #828da3;
      }
    }
    &__svg {
      width: 25px;
      height: 25px;
    }
    &__btn {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
}

.small {
  margin: 20px 0;
  &-overflow {
    width: 100%;
    overflow-x: scroll;
  }
  &-list {
    margin-top: 10px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    width: fit-content;
    position: relative;
    &__one {
      width: 100px;
      height: 122px;
      flex-grow: 1;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__block {
      padding: 3px 9px;
      position: absolute;
      bottom: 0;
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(1.5px);
      width: 100%;
    }
    &__text {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: #2b313a;
    }
    &__count {
      margin-top: 5px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #9298a3;
    }
  }
  &-category__btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    margin-left: auto;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #334355;
  }
}

.big {
  &-list {
    &__one {
      width: 100%;
      overflow: hidden;
      border-radius: 5px;
    }
  }
}
