.category {
  &-banner {
    background: linear-gradient(
      270deg,
      #ab87f8 -4.66%,
      #9d7ce3 43.32%,
      #6535cc 104.24%
    );
    border-radius: 15px;
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 15px 0;
    &__img {
      max-width: 50%;
      height: auto;
      object-fit: cover;
      max-height: 100%;
    }
    &__text {
      width: 25%;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 38px;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
    }
  }

  &-one {
    width: 100%;
    height: 145px;
    background: rgba(106, 73, 112, 0.5);
    box-shadow: 0px 2px 3px rgba(147, 157, 185, 0.35);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__btn {
      display: flex;
      align-items: center;
      width: fit-content;
      background: #8f64eb;
      border-radius: 50px;
      gap: 10px;
      padding: 5px 10px;
      &__text {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #ffffff;
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    &__one {
      grid-column: span 1 / span 1;
      position: relative;
      height: 172px;
      border-radius: 10px;
      overflow: hidden;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__block {
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(2.5px);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
    }
    &__text {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: #2b313a;
    }
    &__count {
      margin-top: 5px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #545963;
    }
  }
}
