.mark {
  margin: 15px 0;
  &-stars {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    & svg,
    path {
      width: 30px;
      height: 30px;
      fill: #d4d8df;
    }
    &__active {
      & path {
        width: 30px;
        height: 30px;
        fill: #8f64eb;
      }
    }
  }
  &-btn {
    width: fit-content;
    margin: 50px auto;
    background: #8f64eb;
    border-radius: 20px;
    padding: 7px 20px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #ffffff;
  }
}
